body {
    background-color: lightgray;
}
.box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
}
h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    text-align: center;
    color: #419511;
}
h1 {
    font-size: 72px;
}
h2 {
    font-size: 45px;
}
h3 {
    font-size: 27px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
.blurb {
    background-color: #419511;
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}