* {
    font-family: Arial, Helvetica Neue, Helvetica,sans-serif;
}
body {
    padding: 100px 0px 0px 0px; /* Puts space at the top of the page so elements don't go under the header */
}
.headbox {
    background-color: lightgray;
    padding: 10px 10px 10px 10px;
    display: flex; /* this makes the elements all fall next to each other rather than fall under the heading */
    align-items: center;
    gap: 20px;
    position: fixed; /* This keeps the header at the top of the page */
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid gray;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* makes it so that the header doesn't blend into the other grey elements */
}
.headbox a {
    background-color: red;
    color: white;
    font-size: 36px;
    font-family: "Franklin Gothic Medium";
    font-weight: 900;
    padding: 0px 10px 0px 10px;
    text-decoration: none; /* This gets rid of the pesky underline under links */
}
.home:hover { /* These highlight the clickable nav elements the user mouses over */
    box-shadow: inset 0 0 0 2px gray;
}
.resources:hover {
    box-shadow: inset 0 0 0 2px gray;
}
.faq:hover {
    box-shadow: inset 0 0 0 2px gray;
}
.passwords:hover {
    box-shadow: inset 0 0 0 2px gray;
}
.emails:hover {
    box-shadow: inset 0 0 0 2px gray;
}
.headbox .faq { /* This darkens the nav that links to the webpage the user is on */
    background-color: darkred;
}
.headbox h1 {
    background-color: red;
    color: white;
    font-size: 54px;
    font-family: "Franklin Gothic Medium"; /* This font was selected to match the logo from the brief pdf */
    font-weight: 900;
    padding: 0px 15px 0px 15px;
    margin: 0;
}
.headbox .dropdown { 
    display: none; /* the display is none here so it's invisible until the media appears */
    font-size: 24px;
    border: none; /* Gets rid of the pesky border every button has by default */
    background: red;
    color: white;
    cursor: pointer; /* Makes the cursor change to a pointer so the user knows it's clickable */
    padding: 4px 10px 5px 10px;
}
.dropdown:hover {
    box-shadow: inset 0 0 0 2px gray;
}
@media (max-width: 1196px) { /* The max-width is tuned so that it appears exactly when the nav starts to fall below the heading */
    .headbox .dropdown {
        display: flex; /* This overwrites the display:none set earlier */
    }
    .headbox .links {
        display: none; /* This makes the links next to the heading invisible when the page is narrower than 1196 pixels */
        position: absolute; /* it's placed precisely below the KnowYourCyber heading so it looks like it's part of the rest of the header */
        padding: 10px;
        top: 90%;
        left: 0;
        right: 0;
        box-sizing: border-box; /* this extends the dropdown to the full width of the page */
        background: lightgray;
        flex-direction: column; /* This makes the links stack on top of each other */
        gap: 10px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* adds a shadow to the bottom of the dropdown to make it stand out from the rest of the page */
    }
    .headbox .links.open {
        display: flex; /* This makes the dropdown links visible */
    }
    .links a {
        width: fit-content; /* Keeps the background color go only as far as the link text */
    }
}
.titlebox { /* These format the title box under the header */
    text-align: center;
    padding: 20px 20px 30px 20px;
}
.titlebox h1 {
    background-color: red;
    display: inline-block;
    color: white;
    font-size: 81px;
    font-family: "Franklin Gothic Medium";
    font-weight: 900;
    padding: 0px 22.5px 0px 22.5px;
    margin: 0;
}
.textbox {
    padding: 5px 20px 5px 20px;
    margin: 10px auto;
    max-width: 1250px; /* limits the textbox to 1250px because the text box expanding to the end of the page looks unsightly */
}
.question.open {
    display: flex;
    width: fit-content;
    align-items: center;
    cursor: pointer;
    background-color: red; /* colors are reversed so that the questions appear open by default */
    user-select: none;
    padding: 0px 10px 0px 0px;
    margin-bottom: 10px;
}
.question {
    display: flex;
    width: fit-content; /* makes the question box only come out as far as the chevron at the end */
    align-items: center;
    cursor: pointer;
    background-color: darkred;
    user-select: none;
    padding: 0px 10px 0px 0px;
    margin-bottom: 10px; /* makes a little gap between the question and answer dropdown */
}
.question:hover {
    box-shadow: inset 0 0 0 2px gray; 
}
.question.open:hover {
    box-shadow: inset 0 0 0 2px gray;
}
.question h2 {
    color: white;
    font-size: 36px;
    font-family: "Franklin Gothic Medium";
    font-weight: 900;
    padding: 0px 0px 0px 10px;
    margin: 0;
}
.chevron {
    color: white;
    align-items: center;
    font-size: 24px;
    line-height: 1; /* this makes the chevron align to the center vertically since the chevron is much larger than the text of the question */
    transition: transform 0.3s ease; /* controls how fast the chevron rotates */
    transform-origin: center; /* makes it rotate from the middle, otherwise it rotates from the corners */
    margin: 0 0 0 6px;
}
.chevron.open {
    transform: rotate(180deg); /* makes the chevron rotate when the question is open */
}
.answerdropdown {
    margin: 15px auto; /* centers the answer on the page */
    display: none;
    padding: 1px 20px 10px 20px;
    background-color: lightgray;
    border: 2px solid gray;
    font-size: 20px;
}
.answerdropdown.open {
    display: block; /* makes the answer visible when the question is open */
}
h2:target {
    color: yellow; /* highlights headings that have been linked to */
}