body {
    background-color: lightgray;
}
.cowimage {
    float: right;
    margin: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
h1, nav {
    text-align: center;
}
h1 {
    font-size: 72px;
}
nav a {
    margin: 0 30px;
}
.gallery {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    clear: both;
    object-fit: cover;
    justify-content: center;
}
.galleryitems {
    height: 300px;
    margin: 0px;
    padding: 0px;
}
